@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

.formTitulo {
    margin: 0px;
    padding: 0px;
    font-family: 'Rubik', sans-serif;
    font-size: 0.7em;
    font-weight: 400;
    text-transform: uppercase;
    color: #888888;
}

.formInput {
    font-family: 'Rubik', sans-serif;
    font-size: 0.7em;
    color: #444444;
}

