@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300;500&display=swap');

.tituloHeader {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}

.tituloSub {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}