@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300;500&display=swap');

.inputHeader {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1.2em;
}

.inputText  {
font-family: 'Yanone Kaffeesatz', sans-serif;
font-weight: 500;
font-size: 1.8em;
}