@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

.TrastornoTitulo {
    margin-top: 5px;
    font-family: 'Rubik', sans-serif;
    font-size: 1.4em;
    font-weight: 400;
    text-transform: uppercase;
}

.descripcion{
    margin-top: 5px;
    font-family: 'Rubik', sans-serif;
    font-size: 0.9em;
    font-weight: 200;
    text-align: justify;
    color: #666666;
}

.criterio {

    font-family: 'Rubik', sans-serif;
    font-size: 0.9em;
    font-weight: 200;
    text-align: justify;
    color: #666666;
}

.criterioLetra {
    font-size: 2em;
    color: #666666;

}

.criteriosTitle{
    font-family: 'Rubik', sans-serif;
    font-size: 1.1em;
    font-weight: 400;
    text-transform: uppercase;
    color: #666666;
    padding-bottom: 5px;

}