@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.nuevaFuente {
    font-family: 'Poppins', sans-serif;
}

.categoria {
    font-family: 'Poppins', sans-serif;
    font-size: 0.8em;
    text-transform: uppercase;
    color: #555555;

}

.tipo {
    font-family: 'Poppins', sans-serif;
    font-size: 0.75em;
    color: #888888;
}